<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看分頁示例</title>
</head>
<body>
    <h1>查看分頁示例</h1>
    <form action="{% url 'pagination_result' %}" method="post">
        {% csrf_token %}
        
        <div>
            <label for="product_name_momo">商品_Momo：</label>
            <input type="text" id="product_name_momo" name="product_name_momo" required>
            <label for="momo_max_pages">頁數：</label>
            <!--placeholder="一頁30個商品"，輸入框不寫字的時候會顯示該字串-->
            <input type="number" id="momo_max_pages" name="momo_max_pages" min="1" required placeholder="一頁30個商品">
        </div>
        <br>

        <div>
            <label for="product_name_pchome">商品_PChome：</label> <!--這邊的product_name_pchome全部都要跟views.py裡的一樣-->
            <input type="text" id="product_name_pchome" name="product_name_pchome" required>
            <label for="pchome_max_pages">頁數：</label>
            <input type="number" id="pchome_max_pages" name="pchome_max_pages" min="1" required placeholder="一頁40個商品"><!--這邊的scroll_count全部都要跟views.py裡的一樣-->
        </div>
        <br>     
                
        <div>
            <label for="product_name_yahoo">商品_Yahoo：</label>
            <input type="text" id="product_name_yahoo" name="product_name_yahoo" required>
            <label for="yahoo_max_pages">頁數：</label>
            <input type="number" id="yahoo_max_pages" name="yahoo_max_pages" min="1" required placeholder="一頁60個商品">
        </div>
        <br>
        
        <button type="submit">搜索</button>
    </form>
</body>
</html>
