<!DOCTYPE html>
<html>
<head>
    <title>Counter</title>
</head>
<body>
    <h1>WebSocket Counter</h1>
    <div id="counter">0</div>

    <script>
        const socket = new WebSocket('ws://' + window.location.host.replace(':8000', ':9000') + '/ws/counter/');

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            if (data.img_url) {
                const imgElement = document.createElement('img');
                imgElement.src = data.img_url;
                imgElement.alt = 'Image';
                imgElement.style.display = 'block';  // 或使用其他样式
                document.body.appendChild(imgElement);
            }
            
        };

        socket.onclose = function(e) {
            console.error('WebSocket closed unexpectedly');
        };

        socket.onerror = function(error) {
            console.error('WebSocket error:', error);
        };

        socket.onopen = function() {
            console.log('WebSocket connection established');
        };

    </script>
</body>
</html>
